

{% extends 'base.html.twig' %}


{% block body %}

  <div class="row">
    <div class="col-md-8 mx-auto">
       <div class="text-right">
          <a href="{{ path('post_index') }}" class="btn btn-link"> <i class="fa fa-arrow-left"></i> Back to list</a>
       </div>

        <h1>{{ post.title }}</h1>
        <img src="{{ post.image.url }}" alt="{{ post.image.alt }}">
        <p>{{ post.content }}</p>
    </div>
  </div>

{% endblock %}